.sd-adept-box-1.t {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
    & > * {
    	position: relative;
    	z-index: 9;
    }
    &::after {
	    content: "";
	    position: absolute;
	    top: 0;
	    border-radius: 10px;
	    left: 0;
	    right: 0;
	    z-index: 3;
	    bottom: 0;
	    padding: 2px;
	    background: linear-gradient(99.09deg, #BF9C1E 1.19%, #FFF4D1 44.3%, #D6A635 90.37%);
	    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	    -webkit-mask-composite: xor;
	    mask-composite: exclude;
    }
}
.sd-adapt-icon-1 {
    padding-bottom: 30px;
}
.sd-adapt-title-1 {/* Caption */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
/* identical to box height */


/* Gold 4 */
    background: linear-gradient(97.62deg, #FFC700 -30.79%, #FFF7DD 27.68%, #FFE8AC 84.48%, #FFC63C 126.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sd-adapt-title-1 a {
    font-weight: 700;
    text-decoration: none;
}
.sd-sec-title-2-1-title {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    background: linear-gradient(99.09deg, #BF9C1E 1.19%, #FFF4D1 44.3%, #D6A635 90.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.sd-adapt-icon-1 img {
    height: 78px;
}
.adepts-area-space-1 > .container {
    transform: translateY(-46px);
}
