@use '../abstracts/variables' as *;

.side-cta-img-width-1 {
    max-width: 100%;
    margin-left: auto;
    padding: 0 15px;

    @media #{$over} {
        padding: 0;
        max-width: calc(100% - 375px);
    }
    @media #{$xxl, $xxxl} {
        max-width: calc(100% - 175px);
        
    }
}
.sd-side-cta-img-1-1 {
    margin-right: 60px;
    margin-top: 20px;
    float: left;
    position: relative;
    img {
        width: 100%;
    }

    @media #{$xs, $md, $lg, $xl, $xxl, $xxxl} {
        margin-right: 20px;
        margin-top: 0;
    }
    @media #{$xs, $md, $lg} {
        float: none;
        margin: 0;
        margin-bottom: 20px;
    }
}

.sd-side-cta-img-1-1::after {
    position: absolute;
    width: 529px;
    height: 265px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(45px);
    content: "";
    left: -50px;
    border: 1px solid #BF9C1E;
    bottom: -50px;

    @media #{$xs, $md, $lg, $xl} {
        display: none;
    }
}

.sd-side-cta-img-1-1 > * {
    position: relative;
    z-index: 9;
}
.sd-side-content-1-1 {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(45px);
    border: 1px solid #BF9C1E;
    padding: 70px;

    @media #{$xs, $md, $lg, $xl} {
        padding: 30px;
    }
    @media #{$xs, $md, $lg} {
        border-radius: 20px;
    }
    @media #{$xs} {
        padding: 15px;
    }
}

.sd-side-content-1-1 p {
    max-width: 495px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.2;
    color: #FFFFFF;

    @media #{$xs, $md, $lg} {
        max-width: 100%;
    }
    @media #{$xs} {
        font-size: 14px;
    }
}
.sd-cta-bottom-text-1-1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}
.sd-cta-cloud-img-pos-1-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.pb-365 {
	padding-bottom: 365px;
}