@use '../abstracts/variables' as *;

.sd-faq-title-main-up-1 {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  background: linear-gradient(95.61deg, #492456 6.93%, #b99c37 102.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 0;

  @media #{$xxl} {
    font-size: 64px;
  }
  @media #{$xl} {
    font-size: 54px;
  }
  @media #{$md, $lg} {
    font-size: 44px;
  }
  @media #{$xs} {
    font-size: 34px;
  }
}
.sd-faq-accordion-1 .accordion-items button {
  background: #24193a;
  border-radius: 10px;
  height: 122px;
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #bf9c1e;

  @media #{$xs, $md} {
    font-size: 16px;
    height: 62px;
  }
}
.sd-faq-accordion-1 .accordion-items {
  margin-bottom: 21px;
}
.sd-faq-acc-content-1 p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 35px 150px;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #bf9c1e;

  @media #{$xs, $md} {
    font-size: 16px;
    padding: 15px 20px;
  }
}
.sd-faq-acc-content-p-1 p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-top: 44px;
  color: #000000;
}
.sd-faq-acc-link-1 {
  height: 59px;
  display: inline-block;
  background: linear-gradient(97.01deg, #dec361 8.45%, #886d2d 99.81%);
  border-radius: 60px;
  color: #fff;
  line-height: 59px;
  padding: 0 50px;
  text-decoration: none;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}
.has-faq-overlay-img {
  position: relative;
}
.has-faq-overlay-img::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 629px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.07) 9.1%,
    rgba(247, 244, 242, 0.96) 45.89%,
    #f5f1ee 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  content: '';
  width: 100%;
}

.has-faq-overlay-img > * {
  position: relative;
  z-index: 9;
}
.sd-dedication-box-main-1-1 {
  border: 2px solid #dec361;
  padding: 100px;

    @media #{$md} {
        padding: 40px;
    }
    @media #{$xs} {
        padding: 15px;
    }
}

.sd-dedication-title-1-1 {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 1.2;
  text-align: center;

  /* Gard Purple */
  background: linear-gradient(92.68deg, #1a0d40 -6.3%, #c2248d 123.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 47px;

  @media #{$xs, $md} {
    font-size: 33px;
  }
}

.sd-dedication-box-text-1-1 p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 22px;
  text-align: center;
  color: #000000;
}
.has-sd-stream-overlay-3-1 {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 9.1%,
      rgba(247, 244, 242, 0.25) 45.89%,
      #f5f1ee 100%
    );
    transform: rotate(-180deg);
  }
  & > * {
    position: relative;
  }
}
.has-faq-overlay-img > .container {
  position: relative;
  z-index: 99;
}
