@use '../abstracts/variables' as *;
.footer-menu.text-center ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    & a {
        font-family: $quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 45px 0;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
    }
}
.footer-menu-area {
    background-color: #171323;
}
.book-footer-wrap-overlay {
    position: relative;
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        background: linear-gradient(180deg, rgba(36, 25, 58, 0) 0%, rgba(36, 25, 58, 0) 0.01%, rgba(36, 25, 58, 0.65) 26.56%, rgba(36, 25, 58, 0.9) 74.02%, #24193A 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    & > * {
        position: relative;
        z-index: 9;
    }
}

.footer-menu-mobile {
    ul {
        list-style-type: none;
        width: 50%;
        padding: 10px 0;
    }
    li {
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 10px;
        display: block;
    }
}
