@use '../abstracts/variables' as *;
.sd-article-hero {
	&-title {
		&-1-1 {
			font-family: $cormorant;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 84px;
		    line-height: 1.2;
		    text-align: center;
		    color: #D6AF3D;
		    margin-bottom: 25px;

			@media #{$lg} {
				font-size: 55px;
				line-height: 1.2;
			}
			@media #{$xs, $md} {
				font-size: 33px;
				line-height: 1.2;
			}
		}
	}
	&-text {
		&-1-1 {
			font-family: $quicksand;
		    font-style: normal;
		    font-weight: 400;
		    font-size: 17px;
		    line-height: 1.2;
		    text-align: center;
		    color: #FFFFFF;
		    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
		    margin-bottom: 50px;

			@media #{$xs} {
				font-size: 14px;
			}
		}
	}
}
.sd-article-gradient-btn-1-1 {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(97.01deg, #DEC361 8.45%, #886D2D 99.81%);
    border-radius: 60px;
    height: 60px;
    padding: 0 88px;
    line-height: 60px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    &:hover {
    	color: #fff;
    }
}
.pb-290 {
	padding-bottom: 290px;
}
.has-article-overlay-1-1 {
	position: relative;
	& > * {
		position: relative;
		z-index: 9;
	}
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #1E011F;
		opacity: 0.45;
	}
}
.article-cloud-1-1 {
    position: absolute;
    left: 0;
    bottom: -110px;
    right: 0;

	@media #{$xs, $md, $lg} {
		bottom: -20px;
	}
}
@media (min-width: 992px) {
		.pb-lg-290 {
			padding-bottom: 290px;
		}
	}
.sd-stream-hero-title-1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 1.2;
    text-align: center;
    background: linear-gradient(100.73deg, #BF9C1E -63.54%, #FFFBEE 44.33%, #D6A635 128.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 25px;
    text-fill-color: transparent;
    text-shadow: 0px 4px 59px rgba(0, 0, 0, 0.72);
	@media #{$md} {
		font-size: 55px;
	}
	@media #{$xs} {
		font-size: 34px;
	}
}

.sd-stream-hero-content-1 {/* Caption Medium */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 74px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 14px #000000;
	@media #{$sm, $md} {
		font-size: 18px;
		margin-bottom: 34px;
	}
}
.sd-stream-hero-link-1 {
    height: 59px;
    text-decoration: none;
    border-radius: 60px;
    position: relative;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 0 45px;
    margin: 0 auto;
    &::before {
        content: "";
	    position: absolute;
	    top: 0;
	    border-radius: 60px;
	    left: 0;
	    right: 0;
	    z-index: 3;
	    bottom: 0;
	    padding: 2px;
	    background: linear-gradient(99.09deg, #BF9C1E 1.19%, #FFF4D1 44.3%, #D6A635 90.37%);
	    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	    -webkit-mask-composite: xor;
	    mask-composite: exclude;
    }
    & span {
    	position: relative;
    	z-index: 9;
    	background: linear-gradient(95.61deg, #492456 6.93%, #B99C37 102.4%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

.sd-stream-hero-link-1::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 60px;
    content: "";
    position: absolute;
    background: #F5E6D7;
}
.hero-area-space-1 {
    padding-top: 236px;
    padding-bottom: 280px;
    position: relative;
    &::after {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 255px;
	    background: linear-gradient(180deg, rgba(36, 25, 58, 0) 0%, rgba(36, 25, 58, 0.67) 49.54%, #24193A 100%);
	    content: "";
	}
	& > * {
		position: relative;
		z-index: 9;
	}
}
