@use '../abstracts/variables' as *;
.sd-section {
	&-title {
	    font-family: $cormorant;
	    font-style: normal;
	    font-weight: 500;
	    font-size: 74px;
	    line-height: 122%;
	    background: linear-gradient(117.43deg, #938247 -19.12%, #EAD4A0 89.17%);
	    color: transparent;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    background-clip: text;
	    -webkit-text-fill-color: transparent;

	    &.sd-teaching-title {
	    	font-family: $cormorant;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 54px;
		    line-height: 65px;
	    }

		@media #{$lg} {
			font-size: 55px;
			line-height: 1.2;
		}
		@media #{$xs, $md} {
			font-size: 33px;
			line-height: 1.2;
		}
	}
}