.sd-teaching-book {
	&-container {
	    border-radius: 40px 0px 0px 40px;
	    background: rgba(255, 255, 255, 0.1);
	    backdrop-filter: blur(140px);
        border: 1px solid #B59A48;
	}
}
.sd-teaching-move-space {
    margin-right: -11px;
    margin-left: auto;
    max-width: 1545px;
}
.teaching-book-list-active {
	& a {
		position: relative;
		display: inline-block;
		&::after {
		    position: absolute;
		    left: 50%;
		    top: 49%;
		    transition: all .3s;
		    width: 81%;
		    height: 86%;
		    background-color: rgba(0, 0, 0, 0.6);
		    content: "";
		    border-radius: 0;
		    opacity: 0;
		    visibility: hidden;
		    transform: translate(-50%, -50%);
		    transform-origin: center;
		}
		&:hover::after {
			opacity: 1;
			visibility: visible;
		}
		& img {
		    max-width: 235px !important;
		    border-radius: 10px;
		}
	}
}
.teaching-book-list-active {
    transform: translateX(80px);
}
.book-footer-negative-space {
	margin-top: -385px;
    padding-top: 565px;
}
.sd-teaching-arrow-float {
	float: right;
	padding-right: 60px;
	padding-top: 30px;
}
.pb-240 {
	padding-bottom: 240px;
}