@use '../abstracts/variables' as *;

.sd-teaching-book {
	&-container {
	    border-radius: 40px 0px 0px 40px;
	    background: rgba(255, 255, 255, 0.1);
	    backdrop-filter: blur(140px);
        border: 1px solid #B59A48;
	}
}
.sd-teaching-move-space {
    margin-right: -11px;
    margin-left: auto;
    max-width: 1545px;
}
.teaching-book-list-active {
	& a {
		position: relative;
		display: inline-block;
		@media #{$xs} {
			position: static;
			display: block;
		}

		&::after {
		    position: absolute;
		    left: 50%;
		    top: 49%;
		    transition: all .3s;
		    width: 81%;
		    height: 86%;
		    background-color: rgba(0, 0, 0, 0.6);
		    content: "";
		    border-radius: 0;
		    opacity: 0;
		    visibility: hidden;
		    transform: translate(-50%, -50%);
		    transform-origin: center;
		}
		&:hover::after {
			opacity: 1;
			visibility: visible;
		}
		& img {
		    max-width: 235px !important;
		    border-radius: 10px;
			@media #{$xs} {
				max-width: 100% !important;
			}
		}
	}
}
.teaching-book-list-active {
    transform: translateX(80px);
	@media #{$xs} {
		transform: translateX(0);
	}
}
.book-footer-negative-space {
	margin-top: -385px;
    padding-top: 565px;

	@media #{$md, $lg} {
		margin-top: -678px;
		padding-top: 790px;
	}
	@media #{$sm} {
		margin-top: -778px;
		padding-top: 870px;
	}
	@media #{$xxs} {
		margin-top: -948px;
		padding-top: 1038px;
	}
}
.sd-teaching-arrow-float {
    float: right;
    padding-right: 60px;
    padding-top: 30px;
    position: relative;
}
.pb-240 {
	padding-bottom: 240px;
}



// style 2
.sd-event-program-box.style-2 {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(140px);
    border-radius: 20px;
    color: #fff;
    padding: 60px 40px;
	.sd-event-program-sm-title {
	    font-family: 'Quicksand';
	    font-style: normal;
	    font-weight: 500;
	    font-size: 21px;
	    line-height: 26px;
	    text-align: center;
	    color: #FFFFFF;
	}
	.sd-event-program-session-item-title {
	    font-family: 'Quicksand';
	    font-style: normal;
	    font-weight: 400;
	    font-size: 17px;
	    line-height: 21px;
	    text-align: center;
	    color: #FFFFFF;
	    padding: 0 30px;
	}
	.sd-event-program-session-item-box-sm-title {
	    margin-bottom: 20px;
	}
	p.sd-event-program-session-item-box-sm-title::after {
	    bottom: -11px;
	}
}